.item1 { grid-area: header; }
.item2 { grid-area: intro; }
.item3 { grid-area: ab; }
.item4 { grid-area: proj; }
.item5 { grid-area: exp; }
.item6 { grid-area: con; }
.item7 { grid-area: footer; }

.page {
  background-color: #455772;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'intro intro ab'
    'proj exp con'
    'footer footer footer';
  grid-gap: 10px;
  padding: 10px;
  grid-auto-columns: 33%;
}

.grid-container > div {
  background-color: white;
  color: #455772;
}

ul {
  list-style-type: circle;
  margin: 0;
  padding: 0px 20px;
  font-style: italic;
}

a {
  color: #455772;
  text-decoration: none;
}

a:hover {
  color: white;
}

.header {
  padding: 20px 20px;
  border: 1px solid gray;
  /* border: none; */
  /* border-radius: 8px; */
  /* background: rgb(255,255,255); */
  /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(69,87,114,1) 100%); */
}

.footer {
  padding: 20px 0px;
  font-size: 14px;
  text-align: center;
  border: 1px solid gray;
}

.intro-card {
  padding: 40px 40px;
  font-size: 16px;
  text-align: left;
  border: 1px solid gray;
}

.nav-cards {
  padding: 80px 0px;
  font-size: 24px;
  text-align: center;
  border: 1px solid gray;
}

.nav-cards:hover {
  background-color: lightgray;
}
