body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;  /* for background image above nav */
  background-color: rgb(71, 109, 94);
}

footer {
  text-align: center;
  padding: 28px 0;
  background-color: white;
  color: gray;
}

.footer-statement {
  margin: 1rem auto; 
  width: 80%;
}

img {
  margin: 0.2rem;
}

.bg {
  background-image: 
    linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), 
    url("naseer-unsplash-small.jpg");
  /* background-image: url("naseer-unsplash.jpg"); */
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg span {
  font-family: monospace;
  font-size: 2rem;
  color: white;
}

@keyframes words {
  0% {content: "H";}
  4% {content: "He";}
  8% {content: "Hel";}
  12% {content: "Hell";}
  16% {content: "Hello";}
  20% {content: "Hello,";}
  24% {content: "Hello, ";}
  28% {content: "Hello, m";}
  32% {content: "Hello, my";}
  36% {content: "Hello, my ";}
  40% {content: "Hello, my n";}
  44% {content: "Hello, my na";}
  48% {content: "Hello, my nam";}
  52% {content: "Hello, my name";}
  56% {content: "Hello, my name ";}
  60% {content: "Hello, my name i";}
  64% {content: "Hello, my name is";}
  68% {content: "Hello, my name is ";}
  72% {content: "Hello, my name is A";}
  76% {content: "Hello, my name is Ad";}
  80% {content: "Hello, my name is Adr";}
  84% {content: "Hello, my name is Adrie";}
  88% {content: "Hello, my name is Adrien";}
  92% {content: "Hello, my name is Adrienn";}
  96% {content: "Hello, my name is Adrienne";}
  100% {content: "Hello, my name is Adrienne.";}
}

@keyframes cursor {
  0% {content: "";}
  50% {content: "|";}
  100% {content: "";}
}
.words::before {
  animation: words 1s linear 0s 1 normal forwards;
  content: "";
}

.accessibility {
  width: 0; 
  display: inline-block; 
  overflow: hidden; 
  white-space: nowrap;
}


.intro {
  padding: 100px 32px;
  background-color: lightgray;
  color: rgb(71, 109, 94);
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  display: inline-block;
  vertical-align: middle; /* align text in middle of nav vertically */
  padding: 41px 20px;
  /* width: 8%; */
  text-decoration: none;
  color: rgb(71, 109, 94);
}

.navbar a:hover {
  background-color: gray;
  color: white;
}

.navbar-icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 2px;
  color: rgb(71, 109, 94);
}
/* #ffead3 - beige/cream color */

@media (max-width: 600px) {
  .navbar a {
    float: none;
    padding: 10px 0;
    width: 100%;
  }
  .navbar-icon {
    display: none;
  }
}

.table {
  display: table;
  margin: 0 auto;
}

.card {
  margin: 16px auto;
  padding: 24px;
  width: 80%;
  /* text-align: center; */
  border-radius: 4px;
  background-color: white;
  color: #476d5e;
}

.section-title {
  padding: 16px;
  border: 1px solid rgb(71, 109, 94);
  border-radius: 4px;
}

.project-title {
  text-align: center;
  margin: 32px 16px 0px 16px;
}

.project-row {
  display: flex;
}

.project-left {
  flex: 75%;
  margin: 0 10px;
  /* padding: 0 1rem; */
  /* border-right: 1px solid lightgray; */
}

.project-right {
  flex: 25%;
  margin: 16px 10px;
  padding: 0 1rem;
  border-left: 1px solid lightgray;
}

.contact-card {
  list-style: none;
}
