body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-image: url("images/naseer-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 0px auto;
  padding: 2em 1em 1.5em;
}

p {
  padding: 2em;
}

button {
  padding: 0.5em;
  width: 150px;
  border: 1px solid rgba(52, 83, 74, 0.6);
  border-radius: 20px;
  display: block;
}

button:hover {
  color: white;
  border: 1px solid rgba(52, 83, 74, 0);
  background-color: rgba(52, 83, 74, 0.6);
}

.center {
  text-align: center;
  margin: 0px auto;
}

.main-content {
  height: 100%;
  width: 50%;
  min-width: 400px;
  max-width: 600px;
  background-color: rgb(255, 255, 255, 0.8);
}

.divider {
  margin: auto;
  width: 20%;
  border-top: 1px solid gray;
}

.links {
  margin: 0.5em auto;
}
