body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;  /* for background image above nav */
  background-color: rgb(71, 109, 94);
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: white;
  color: gray;
}

.footer-statement {
  margin: 0.5rem auto;
  width: 80%;
}

.footer-icons {
  margin: 0 0.75rem 0.5rem 0;
  text-align: right;
}

img {
  margin: 0.2rem;
  vertical-align: middle;
}

.bg {
  background-image: 
    linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), 
    url("naseer-unsplash-small.jpg");
  /* background-image: url("naseer-unsplash.jpg"); */
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg span {
  font-family: monospace;
  font-size: 2rem;
  color: white;
}

.intro {
  padding: 100px 32px;
  background-color: lightgray;
  color: rgb(71, 109, 94);
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar li {
  display: inline;
}

.navbar a {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 0;
  width: 6.5rem;
  position: relative;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.75;
}

.navbar a:hover {
  opacity: 1;
}

.navbar-icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 2px;
  color: rgb(71, 109, 94);
}
/* #ffead3 - beige/cream color */


/* TODO: change to use min-width instead */
/* FIXME: fix mobile link highlighting */
@media (max-width: 600px) {
  .navbar ul {
    display: block;
  }
  .navbar a {
    float: none;
    padding: 10px 0;
    width: 100%;
  }
  .navbar-icon {
    display: none;
  }
}

.card {
  margin: 16px auto;
  padding: 24px;
  width: 80%;
  /* text-align: center; */
  border-radius: 4px;
  background-color: white;
  color: #476d5e;
}

.section-title {
  /* needs a strong font */
  padding: 16px;
  border: 1px solid rgb(71, 109, 94);
  border-radius: 4px;
}

.project-title {
  text-align: center;
  margin: 32px 16px 0px;
}

.project-title a {
  color:rgb(71, 109, 94);
}

.project-title a:hover {
  color: gray;
}

.project-row {
  display: flex;
}

.project-left {
  flex: 75%;
  margin: 0 10px;
  /* padding: 0 1rem; */
  /* border-right: 1px solid lightgray; */
}

.project-right {
  flex: 25%;
  margin: 16px 10px;
  padding: 0 1rem;
  border-left: 1px solid lightgray;
}

.exp-item {
  margin: 32px 10px 0;
}

.exp-title {
  margin: 8px 0;
}

input, select, textarea {
  box-sizing: border-box;
  width: 60%;
  margin: 4px 16px 16px;
  padding: 4px;
  outline: none;
}

/* input:focus, select:focus, textarea:focus {

} */

.submit-button {
  width: 20%;
  padding: 8px 16px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: rgb(71, 109, 94);
}
